/* add your styling here */

:root {
  --primary-color: #000;
  --text-color: #fff;
}
* {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

.pokemon-btn {
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--text-color);
  margin: 1rem;
}

select {
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--text-color);
  margin: 1rem;
  display: block;
}

img {
  margin: 1rem;
}
